.navWrapper {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	min-width: 5rem;
	padding: 1.5rem;
	background: var(--secondary);
	z-index: 10;
	display: grid;
	justify-content: center;
}

.navWrapper a {
	display: block;
	/* text-align: center; */
	font-size: 1.5rem;
	color: var(--inverse);
	text-decoration: none;
	white-space: nowrap;
}

.navWrapper a:hover {
	/* background: var(--primary); */
	/* opacity: 0.9; */
	color: var(--primary);
	padding-left: 0.5rem;
	transition: 0.4s ease padding;
}

.navWrapper span {
	margin-left: 0.625rem;
}

.title {
	min-height: 3.125rem;
	font-size: 1.8rem;
	color: var(--primary);
	white-space: nowrap;
}

.separator {
	color: var(--primary);
	margin: 0 0 0.625rem;
	padding: 0;
	border-radius: 0.3rem;
}

.icon {
	margin-right: 0.625rem;
}

.closedNav {
	display: grid;
	justify-content: center;
}
